@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
}

header {
    background: #4031B7;
    padding: 1rem 2rem;
    color: white !important;
}
.topnav {
    padding: 1rem 0.8rem;
}
.topnav a {
    color: #B6D2E3;
    position: relative;
    z-index: 2;
    font-size: 0.9rem;
    transition: all 0.6s;
}
.topnav a:hover {
    text-decoration: none;
}
.navbar {
    background-color: none !important;
    padding-right: 6rem !important;
    z-index: 1;
}

.nav-link {
    color: #B6D2E3;
    padding: 0.4rem 1.4rem !important;
    margin-bottom: 0.4rem;
    font-size: 0.9rem !important;
    transition: all 0.6s;
}
.topnav a:hover,
.nav-link:hover {
    text-decoration: none;
    transform: translateY(-3px);
    color: #FFF8F8 !important;
}
#signup {
    border: 1px solid #B6D2E3;
    border-radius: 15px;
    transition: all 0.6s;
}
#header_contents {
    min-height:550px ;
}
#signup:hover {
    background-color: #8cfff1;
    border-color: #8cfff1;
}
.content{
    width:55%;
    margin: 1rem 2rem;
    margin-right: 0rem;
}
.video_area {
    width:45%;
    margin: 5rem 0rem;
    z-index: 10;
}
.content h1{
    color: #FFF8F8;
    font-size: 4.6vw;
    line-height: 1.1;
    margin: 1.5rem 0;
    font-family: 'Baskervville', serif;
}
.content h1 span {
    color: #8CFFF1;
}
.content p {
    line-height: 2;
    letter-spacing: 1px;
    width: 80%;
    font-size: 0.9rem;
    margin: 1rem 0;
}
.link_area {
    margin: 2.6rem 0;
}

.content button,
.demo_btn {
    background: #60CBBE !important;
    border-radius: 50px !important;
    margin-right: 1rem;
    font-size: 0.9rem !important;
    color: #FFF8F8 !important;
    padding: 0.6rem 2.5rem !important;
}
.link_area a {
    padding: 0.8rem 0;
    color: #FFF8F8;
}
.contain_img {
    z-index: 4;
    width: 90%;
    margin-left: auto;
    margin-right: -2rem;
}
.contain_img img{
    z-index: 3 !important;
    width: 100%;
    height: auto;
}
.art_cover {
    width: 16.8rem;
    right: 0;
    top: 0;
}
.artboard {
    right: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: auto;
}

/* ================================================ */
/* ===================== SECTIONS ================= */
.body_sec {
    padding: 4rem 6rem !important;
}
.title_text{
    margin: 3rem 0;
    font-family: 'Baskervville', serif;
    color: #111028;
    font-size: 2.4rem
}
.title_desc {
    font-size: 0.9rem;
    color: #4F4F4F;
}
.first_sec div {
    width: 55%;
    margin: 0 auto;
}
.first_sec img {
    width: 100%;
    height: auto;
}
.first_sec h6 {
    color: #17162D;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: 'Baskervville', serif;
}
.first_sec p,
.list_element p {
    font-size: 0.75rem;
}


.sec_three {
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding: 2rem 3rem !important;
    width: 100%;
}
.list_element {
    margin: 2.2rem 0;
}
.img_box {
    margin: 0rem -2rem;
}
.img_box img {
    width: 100%;
    height: auto;
}
.sec_three h3 {
    font-family: 'Baskervville', serif;
    color: #111028;
    font-size: 2.4rem;
    width: 75%;
    margin: 1rem 0 !important;
}
.list_element h6 {
    color: #17162D;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Baskervville', serif;
}
.list_element p {
    margin-bottom: 0 !important;
}

.sec_three_one {
    width: 55%;
}
.sec_three_one{
    margin-left: 3rem;
}
.sec_three_two {
    width: 45%;
}
.sec_three_two img {
    width: 100%;
    height: auto;
    z-index: 3;
}
.artboard2 {
    
    height: 700px; 
    margin-left: auto;
    right: 0;
    z-index: 1;
}
.sec_four {
    margin: 3rem 0;
    padding: 0 !important;
}
.sec_four_one {
    width: 50%;
}
.sec_four_one img {
    width: 100%;
    height: auto;
}
.sec_four_two {
    width: 45%;
    padding-right: 7vw;
    padding-left: 3vw;
    margin-left: auto;
}
.sec_four_two .title_text {
    margin: 1.8rem 0;
    width: 80%;
}
.sec_four_two .title_desc {
    line-height: 1.5;
    color: #828282;
}
.experience_row p {
    font-size: 0.8rem;
}
.sec_four_img {
    width: 70%;
}
.sec_four_img img {
    width: 100%;
    height: auto;
}


.sec_five {
    padding: 6rem 6rem !important;
    margin-top: 7rem;
    background-image: url(./Group\ 162.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.demo_btn {
    margin-right: 0rem;
    color: #FFF8F8 !important;
}
.sec_five h3 {
    margin: 1rem 0;
}


footer {
    padding: 0.4rem 6rem;
}
.footer_top {
    width: 100%;
    margin: 2rem 0;
    margin-top: 5rem;
}
#foot_grid {
    width: 75% !important;
}
.logo_area {
    width: 30%;

}
.logo_area img {
    margin-left: auto;
}
footer h6 {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
footer a {
    color: #bdbdbd;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.footer_middle {
    padding-bottom: 1rem;
}
.footer_middle,
.footer_bottom {
    padding: 0.6rem 0;
}
.footer_middle {
    padding-bottom: 1rem;
}

.footer_middle p,
.footer_bottom p {
    font-size: 0.8rem;
    margin-bottom: 0;
    color: #bdbdbd;
}
.footer_middle span {
    color: #4445b7;
    font-weight: 800;
}
.footer_bottom {
    padding-top: 1rem;
    border-top: 0.5px solid rgba(130, 130, 130, 0.5);
}

@media screen and (max-width: 1024px) {
    .navbar-toggler {
        color: white;
    }
    .art_cover {
        width: 16.8rem;
    }
    .content h1{
        color: #FFF8F8;
        font-size: 4.5vw;
        line-height: 1.1;
        
    }
    .content h1 span {
        color: #8CFFF1;
    }
    .content p {
        line-height: 1.8;
        font-size: 0.8rem;
    }
    .title_text{
        margin: 2.8rem 0;
        font-size: 2.1rem
    }
    .title_desc {
        font-size: 0.8rem;
    }
    .first_sec h6 {
        font-size: 1.1rem;
        margin-top: 2.8rem;
        margin-bottom: 1rem;
    }
    .first_sec p,
    .list_element p {
        font-size: 0.7rem;
    }
    .sec_three {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem 2.5rem !important;
    }
    .list_element {
        margin: 2rem 0;
    }
    .sec_three_one{
        margin-left: 1.5rem;
    }
    .artboard2{
        height: 580px;
    }
    .list_element_img {
        width: 13%;
    }
    .list_element_img img {
        width: 100%;
        height: auto
    }
    .experience_row p {
        font-size: 0.7rem;
    }
    .sec_four_two .title_text {
        margin: 1.8rem 0;
        width: 100%;
    }
    .sec_four_two .title_desc {
        line-height: 1.5;
    }
    .sec_five {
        padding: 6rem 4rem !important;
        margin-top: 7rem;
    }
    footer {
        padding: 0.4rem 4rem;
    }
}

@media screen and (max-width: 768px) {
    #header_contents {
        flex-direction: column;
    }
    .nav-link {
        max-width: fit-content;
        margin: 0.3rem auto !important;
    }
    .content{
        width:100%;
        margin: 3rem 4rem !important;
        padding: 0 2rem;
        text-align: center;
        margin-right: 0rem;
    }
    .content h1 {
        font-size: 3rem;
    }
    .link_area{
        flex-direction: column;
        max-width: fit-content;
        margin: 2rem auto;
    }
    .demo_btn {
        margin-right: 0 !important;
    }
    .video_area {
        width:100%;
        margin: 0.5rem 2rem;
        margin-bottom: 2rem;
        z-index: 10;
    }
    .art_cover {
        top: 50%;
        width: 26%;
    }
    .contain_img {
        z-index: 4;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .title_text{
        margin: 2.5rem 0;
        font-size: 2rem
    }
    .title_desc {
        font-size: 0.8rem;
    }
    .content p {
        width: 100%;
        margin: 2rem auto;
    }
    .body_sec {
        padding: 4rem 4rem !important;
    }
    
    #body_sec2 .col-lg-4 {
        margin: 0.5rem 0 !important;
    }
    .sec_three {
        flex-direction: column;
    }
    .sec_three_one {
        width: 100%;
        margin: 2rem 4rem;
        padding: 0 2rem;
    }
    .sec_three_two {
        width: 80%;
        margin: 0 auto;
    }
    .sec_three h3 {
        width: 100%;
        text-align: center;
    }
    .sec_three .title_desc {
        text-align: center;
    }
    .list_element_img {
        width: 12%;
        margin-top: -0.5rem;
    }
    .artboard2 {
        bottom: 0;
        margin-bottom: -2rem;
        height: 500px;
    }
    .sec_four {
        flex-direction: column-reverse;
    }
    .sec_four_two {
        width: 100%;
        padding: 1rem 5rem;
        text-align: center;
    }
    .sec_four_one {
        width: 100%;
        margin: 1rem auto;
        padding: 1rem 5rem;
        padding-left: 0; 
    }
    .sec_five {
        flex-direction: column;
    }
    .sec_five div:nth-child(1) {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 568px) {
    .navbar {
        padding: 0 !important;
    }
    .topnav {
        padding: 0.5rem 0;
    }
    .topnav a {
        font-size: 0.8rem
    }
    .content {
        margin: 1rem 2.2rem !important;
    }
    .content h1 {
        font-size: 2.5rem;
    }
    .contain_img{
        width: 90%;
    }
    .link_area {
        margin-bottom: 0rem;
    }
    .link_area a {
        font-size: 0.8rem;
    }
    .nav-link {
        font-size: 0.8rem !important;
    }
    .art_cover {
        top: 58%;
    }
    .title_text{
        margin: 1.5rem 0;
        font-size: 1.8rem
    }
    .title_desc {
        font-size: 0.8rem;
    }
    .body_sec {
        padding: 3rem 4rem !important;
    }
    .body_sec_row .col-lg-4 {
        margin: 0 !important;
        margin-top: 1rem !important;
    }
    .body_sec_row .my-1{
        width: 47%;
        margin: 0.5rem auto !important;
    }
    .body_sec_row img {
        width: 100%;
        height: auto;
    }
    .sec_three h3 {
        font-size: 1.8rem;
    }
    .artboard2 {
        height: 350px
    }
    .list_element_img {
        width: 17%;
    }
    .sec_three {
        padding: 1rem 1.4rem !important;
    }
    .sec_three_one {
        margin: 2rem 1rem;
        padding: 0 1rem;
    }
    .sec_four_two {
        padding: 1rem 2.4rem;
    }
    .sec_four_one {
        padding: 1rem 3rem;
        padding-left: 0;
    }
    footer {
        padding: 0.4rem 3rem;
    }
    .logo_area {
        transform: translateX(-1rem) translateY(-0.3rem);
    }
    .footer_bottom {
        flex-direction: column;
    }
}