@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    
}
body {
    width: 100%;
    height: 100vh;
}
.first {
    background-color: #ffffff;
    padding-left: 4rem;
    padding-top: 3rem; 
    width: 40%;
}
.second {
    background: rgba(106, 121, 221, 0.06);
    width: 60%
}